*,
header *,
.markdown-body h1,
.subPageHeaderBackground .logo>p,
h1,
p,
h2,
h3,
h4,
h5,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    color: #fff;
}

.subPageHeaderBackground nav>ul li a:link,
.subPageHeaderBackground nav>ul li a:visited {
    color: rgba(255, 255, 255, 0.6);
}

.markdown-body h1,
.markdown-body h2 {
    border-bottom: 1px solid #787878;
    padding-bottom: 0.3em;
}

.markdown-body code {
    background-color: rgb(255 255 255 / 0.1);
}

.container {
    grid-template-rows: none !important;
}